name: eye_pose_app
description: Offline Eye Pose Tool (Flutter + Android MediaPipe)
publish_to: "none"

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.1.2
  path_provider: ^2.1.5
  path: ^1.9.1
  file_picker: ^8.1.2
  image: ^4.5.4
  permission_handler: ^11.3.1
  file_saver: ^0.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
